*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vh;   
    font-family: 'Prompt', sans-serif;
}

.container {
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

/*PERFIL*/



.perfil h1 {
    color: var(--white);
}

.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}

#date {
    color: var(--white);
    padding: 50px 0 5px 0px;

}




/*AGREGAR TAREA*/

.task-seccion {
    background-color: rgb(115, 112, 112) ;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 10px;
    margin: 40px 0;
}

 input {
    width: 70%;
    border-radius: 8px;
    border: none;
    background-color: rgb(128, 134, 132);
    padding-left: 10px;

}
 input::placeholder {
   font-size: 1.5rem;
   color: white;
}

.task-seccion i{
    font-size: 50px;
  

}
.task-seccion i:hover {
    transform: scale(1.1);
    cursor: pointer;
}



/*SECCION DE TAREA */

.task-seccion h3 {
    color: var(--white);
    margin-bottom: 20px;
}

.task-seccion li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom,var(--blue-dark),var(--green));
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;

}
.task-seccion i {
    font-size: 25px;
}

.task-seccion > ul p {
    font-size: 1.2rem;

}


.task-seccion i:hover {
    color: var(--blue-light);
    cursor: pointer;
}

.line-through{
    text-decoration: line-through;
    color : var(--blue-light);
} 