@keyframes pan{
    100% {background-position: 15% 50%;}
}
body{
    height: 100vh;
   background-image: url('./background.svg');
   background-repeat: no-repeat;
   background-size: cover;
   animation: pan 6s infinite alternate linear;
}
.title{
    color: white;
    text-align: center;
}
.task-title{
    color: white;
    text-align: center;
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
		background: #A58984;
		border-radius: 10px;

}

#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 30px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #6A8288;
}

#newtask button{
    position: relative;
    float: right;
    width: 15%;
    height: 45px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    background-color: #6A8288;
    border: none;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: #D39B7A;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 92%;
    position: relative;
}
.task{
    background-color: #A58984;
    height: 50px;
		margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
		border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
}
.task span{
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #325D86;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed{
    text-decoration: line-through;
}